
@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Regular.woff') format('woff'),
		url('ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url('ProximaNova-Semibold.eot');
	src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
		url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Semibold.woff') format('woff'),
		url('ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}